* {
  margin: 0;
}

body {
  background-color: white;
  
}


/* Header */
.wolf_notes_header {
  grid-area: head;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  padding: 15px 20px; 
  width: 100%;       
}

.wolf_notes_header h1 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  margin: 0;
}

.wolf_notes_header .home-logo {
    position: absolute;
    left: 20px; 
}

.wolf_notes_header .home-logo img {
    height: 40px; 
    cursor: pointer;
}

.wolf_notes_header .header-right {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 15px; 
}

.wolf_notes_header .header-right .icon {
    height: 40px; 
    cursor: pointer;
}


main {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  margin: 20px;
  #notea {
    background: rgb(141, 38, 38);
    margin: 2px;
    padding: 15px;
    .icon {
      height: 20px;
    }
  }
  #noteb {
    background: rgb(213, 213, 213);
    margin: 2px;
    padding: 15px;
    .icon {
      height: 20px;
    }
  }
  h3 {
    font-size: 25px;
  }
}

header h1 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 600;
}



input {
  background: #d6d6d6;
  border-radius: 8px;
  margin: 10px;
  padding: 7px;
  border: none;
}