* {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-color: white;
  
}


main {
  display: grid;
  grid-template-columns: auto auto;
  padding: 2rem;
  gap: 2rem;
  #enrolled-courses {
    .card {
        background-color: rgb(219, 252, 241);
    }
  }
  #join-course {
    input {
      background-color: rgb(219, 252, 241);
      border: none;
      padding: 10px;
      border-radius: 8px;
    }
  }
  #archived-courses {
    .card {
        background-color: rgb(250, 219, 252);
    }
  }
  #my-notes {
    button {
        background-color: rgb(184, 213, 246);
        border: none;
        border-radius: 7px;
        padding: 10px;
    }
  }
}


/* Header */
.wolf_notes_header {
  grid-area: head;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a8d5a2;
  padding: 15px 20px; 
  width: 100%;     
}

.wolf_notes_header h1 {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 20px;
}

.wolf_notes_header .home-logo {
    position: absolute;
    left: 20px; 
}

.wolf_notes_header .home-logo img {
    height: 40px; 
    cursor: pointer;
}

.wolf_notes_header .header-right {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 15px; 
}

.wolf_notes_header .header-right .icon {
    height: 40px; 
    cursor: pointer;
}


header h1 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 600;
}
.card {

  border-radius: 10px;
  margin: 10px;
  padding: 10px;

}

#course {
  background: rgba(20, 208, 233, 0.858);
  padding: 10px;
  margin: 10px;
  border-radius: 8px;

}

/* footer */
.wolf_notes_footer {
  position: fixed;
  visibility: hidden;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  padding: 15px 20px; 
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  .home-logo {
    position: absolute;
    
    img {
      height: 40px; 
      cursor: pointer;
    }
  }
}

@media (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .wolf_notes_footer {
    visibility: visible;
  }

  .wolf_notes_header .home-logo img {
    visibility: hidden;
  }
}
